#card-design-card-component-container {
    width: 160px;
    height: 220px;
    display: grid;
    background: white;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 1px 1px 10px black;

    @media (max-width: 760px) {
        height: calc(160px * (1280 / 941));
    }

    @media (max-width: 690px) {
        height: calc(140px * (1280 / 941));
    }

    @media (max-width: 620px) {
        height: calc(120px * (1280 / 941));
    }

    @media (max-width: 410px) {
        width: 130px;

        & button {
            font-size: 0.7rem;
        }

        & h3 {
            font-size: 0.8rem;
        }
    }

    & h3 {
        text-align: center;
        margin: 0;
        padding: 0;
    }

    & #card-design-card-component-buttons-container {
        display: flex;
        justify-content: center;
        height: max-content;
    }
}