#game-player-list-component-container {
    grid-column: 1/2;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.5%;
    background-color: var(--primary);
    box-shadow: 5px 5px 5px gray;

    & .game-player-list-component-card {
        width: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        height: 15%;
        border-radius: 5px;
        box-shadow: 10px 10px 10px gray;

        & p {
            margin: 0;
            padding: 0;
            color: #FFD700;
            font-weight: bold;
            text-shadow: 1px 2px 5px black;
        }

        & h4 {
            margin: 0;
        }

        & .game-player-list-component-card-image {
            width: 30%;
        }

        & .game-player-image-spin {
            animation: spin 3s infinite;
            position: relative;
        }
    }

    & .game-player-list-component-card-selected {
        background-color: var(--fourth);

        & h4 {
            color: white;
        }
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}