#home-header-component-container {
    display: grid;
    grid-template-columns: 90% 10%;
    padding: 10px 0 10px 0;

    & #home-header-button-group-container {
        display: flex;
        justify-content: center;
        align-items: center;

        & #home-header-button-group {
            width: 90%;

            & .home-header-button-container {
                width: calc(100% / 3);

                & button {
                    width: 100%;
                    border: none;
                }
            }
        }
    }

    & #home-header-info {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        cursor: pointer;

        & :hover {
            box-shadow: 5px 5px 10px gray;
            transition: box-shadow 500ms;
        }

        & .home-header-info-image {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            position: relative;

        }

        & h4 {
            margin: 0;
            padding: 0;
        }
    }
}

@media (max-width: 830px) {
    #home-header-component-container {
        grid-template-columns: 85% 15%;
    }
}

@media (max-width: 650px) {
    #home-header-component-container {
        grid-template-columns: 80% 20%;
    }
}

@media (max-width: 400px) {
    .home-header-button-container {
        & button {
            font-size: 0.7rem;
        }
    }
}